# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Build output
dist/
build/
dist-ssr/

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store

# OS files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Optional npm or package manager files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Coverage reports
coverage/